.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f1923;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ff4655;
  box-shadow: 0 0 15px rgba(255, 70, 85, 0.7);
}

.tabsList {
  display: flex;
  gap: 12px;
}

.tab {
  background: rgba(255, 70, 85, 0.1);
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.tab[data-active] {
  background: #ff4655;
  color: #fff;
  border-color: #ff4655;
  box-shadow: 0 0 10px rgba(255, 70, 85, 0.7);
}

.tab:hover {
  background: rgba(255, 70, 85, 0.3);
  color: #fff;
  border-color: #ff4655;
  box-shadow: 0 0 10px rgba(255, 70, 85, 0.5);
}

.tabsList::before,
.tabsList::after {
  display: none !important;
}